.mat-form-field {
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th {
    font-weight: 600;
    background-color: #f9fafb;
}

td {
    vertical-align: top;
}

.exam-routine-container
{
    background: white;
}