<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="-ml-4 sm:mt-8">
                <a
                    mat-button
                    [routerLink]="['/teachers/list']"
                    [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                    <span class="ml-2">Back to Teachers</span>
                </a>
            </div>
            <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
                Create Teacher
            </div>
            <!-- Form -->
            <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
                <!-- Alert -->
                <fuse-alert
                    class="mb-8"
                    *ngIf="alert"
                    [type]="alert.type"
                    [showIcon]="false">
                    {{ alert.message }}
                </fuse-alert>
                <form
                    class="space-y-3"
                    [formGroup]="teacherForm"
                    #teacherNgForm="ngForm">
                    <mat-form-field class="w-full">
                        <mat-label>Department</mat-label>
                        <mat-select
                            [formControlName]="'department_id'"
                            [required]="true">
                            @for (dept of departments; track dept) {
                                <mat-option [value]="dept.id">{{dept.name}}</mat-option>
                            }
                        </mat-select>
                        <mat-error *ngIf="teacherForm.get('department_id').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>User</mat-label>
                        <mat-select
                            [formControlName]="'user_id'"
                            [required]="true">
                            @for (user of users; track user) {
                                <mat-option [value]="user.id">{{user.full_name}}</mat-option>
                            }
                        </mat-select>
                        <mat-error *ngIf="teacherForm.get('user_id').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>User</mat-label>
                        <mat-select
                            [formControlName]="'designation'"
                            [required]="true">
                            @for (designation of designations; track designation) {
                                <mat-option [value]="designation">{{designation}}</mat-option>
                            }
                        </mat-select>
                        <mat-error *ngIf="teacherForm.get('designation').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>User</mat-label>
                        <mat-select
                            [formControlName]="'status'"
                            [required]="true">
                            @for (status of statuses; track status) {
                                <mat-option [value]="status">{{status}}</mat-option>
                            }
                        </mat-select>
                        <mat-error *ngIf="teacherForm.get('status').hasError('required')">
                            Required
                        </mat-error>
                    </mat-form-field>

                    <!-- Actions -->
                    <div class="flex items-center justify-end">
                        <button
                            mat-button
                            [color]="'accent'"
                            [disabled]="teacherForm.pristine || teacherForm.untouched"
                            (click)="clearForm()">
                            Clear
                        </button>
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="teacherForm.pristine || teacherForm.invalid"
                            (click)="createTeacher()">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
