<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight"></div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search organizations'">
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createOrganization()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
            <user></user>
        </div>
    </div>

    <div class="organization-container">
        <div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
            <!-- Header -->
            <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
                <!-- Background - @formatter:off -->
                <!-- Rings -->
                <svg class="absolute inset-0 pointer-events-none"
                    viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                    <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                        <circle r="234" cx="196" cy="23"></circle>
                        <circle r="234" cx="790" cy="491"></circle>
                    </g>
                </svg>
                <!-- @formatter:on -->
                <div class="z-10 relative flex flex-col items-center">
                    <h2 class="text-xl font-semibold">Organizations</h2>
                    <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                        Choose an organization and find departments
                    </div>
                </div>
            </div>

            <!-- Main -->
            <div class="flex flex-auto p-6 sm:p-10">

                <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
                    <!-- Courses -->
                    <ng-container *ngIf="organizations.length; else noOrganizations">
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                            <ng-container *ngFor="let organization of organizations; trackBy: organization">
                                <!-- Course -->
                                <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                                    <div class="flex flex-col p-6">
                                        <!-- Course title & description -->
                                        <div class="mt-4 text-lg font-medium">{{organization.name}}</div>
                                        <div class="mt-0.5 line-clamp-2 text-secondary">{{organization.description}}</div>
                                        <div class="w-12 h-1 my-6 border-t-2"></div>
                                    </div>
                                    <!-- Footer -->
                                    <div class="flex flex-col w-full mt-auto footer-border-top">
                                        
                                        <!-- Course launch button -->
                                        <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                            <a
                                                mat-stroked-button
                                                (click)="navigateToDepartments(organization.id)">
                                                <span class="inline-flex items-center">

                                                    <!-- Started -->
                                                    <ng-container>
                                                        <span>Continue</span>
                                                    </ng-container>

                                                    <mat-icon
                                                        class="ml-1.5 icon-size-5"
                                                        [svgIcon]="'heroicons_solid:arrow-small-right'"></mat-icon>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>

                    <!-- No courses -->
                    <ng-template #noOrganizations>
                        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                            <mat-icon
                                class="icon-size-24"
                                [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                            <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No organizations found!</div>
                        </div>
                    </ng-template>
                </div>

            </div>
        </div>
    </div>
</div>
